<div class="card-bg">
    <app-project-filter 
        [projectValue] = "(projectValue$ | async) ?? ''"
        [projectOptions] = "(projectOptions$ | async) ?? []"
        (filter)="onFilterHandler($event)" 
        (toggleSwitch)="onToggleSwitchHandler($event)" 
        (filterDropDown)="onFilterProject($event)"
        [switchState]="(selectedSwitch$ | async) ?? 1" >
    </app-project-filter>
    <div *ngIf="(selectedSwitch$ | async) == 1" class="tb-wrap">
        <app-incident-overview-table [headerList]="(officeHead$ | async) ?? []" [tableContent]="(officeData$ | async) ?? []" ></app-incident-overview-table>
    </div>
    <div *ngIf="(selectedSwitch$ | async) == 0" class="tb-wrap">
        <app-incident-overview-table [headerList]="(projectHead$ | async) ?? []" [tableContent]="(projectData$ | async ) ?? []"></app-incident-overview-table>
    </div>
</div>
