<div class="menu flex">
    <div class="menu__controls flex">
        <button type="button" class="btn--outline btn--primary">Offices</button>
        <button type="button" class="btn--outline">Project</button>
    </div>
    <div class="menu__filter flex">
        <p>Date: </p>
        <div class="p-field">
            <p-calendar appendTo="body"  placeholder="From: Jan 02, 2022" inputId="basic"></p-calendar>
        </div>
        <div class="p-field">
            <p-calendar appendTo="body" placeholder="From: Sept: 13, 2022" inputId="basic"></p-calendar>
        </div>
        <button type="button "  class="btn--outline btn--primary">Filter</button>
    </div>
</div>