<div class="menu flex">
    <div class="menu__controls flex">
        <button type="button" class="btn--outline">Offices</button>
        <button type="button" class="btn--outline">Project</button>
    </div>
    <div class="menu__filter flex p-fluid grid formgrid">
        <p>Date: </p>
        <div class="field">
            <p-calendar appendTo="body" placeholder="khhpiho" inputId="basic"></p-calendar>
        </div>
        <div class="field">
            <p-calendar appendTo="body" inputId="basic"></p-calendar>
        </div>
    </div>
</div>