.menu {
    position: relative;
    width: 100%;
    justify-content: space-between;
    &__controls{
        .btn--outline  + .btn--outline{
            margin-left: 2em;
        }
    }
    &__filter{
        & > * + * {
            margin-left: .8em;
        }
    }
}