<div class="filter-menu">
    <div class="menu flex">
        <div class="menu__controls flex">
            <button (click)="changeSwitchState(false)" type="button" class="btn--outline" [ngClass]="switchState == 1 ? 'btn--primary': ''">Offices</button>
            <button (click)="changeSwitchState(true)" type="button" class="btn--outline" [ngClass]="switchState == 0 ? 'btn--primary': ''">Project</button>
        </div>
        <form class="form" [formGroup]="filterForm" (ngSubmit)="submit()">
            <div class="menu__filter flex">
                <p>Date: </p>
                <div class="p-field">
                    <p-calendar utc="false" appendTo="body"  formControlName="start" placeholder="From: Jan 02, 2022" inputId="basic"></p-calendar>
                </div>
                <div class="p-field">
                    <p-calendar appendTo="body" formControlName="end"  placeholder="From: Sept: 13, 2022" inputId="bd"></p-calendar>
                </div>
                <button type="submit" class="btn--outline btn--primary">Filter</button>
            </div>
        </form>
    </div>

    <div class="drop-menu" *ngIf="switchState == 0">
        <p-dropdown (onChange)="projectChangeListener($event.value)"  [style]="{'width':'16%'}" id="supervisor" [autoDisplayFirst]="false" optionValue="code" [options]="projectOptions"  aria-describedby="supervisor-help"  optionLabel="name"></p-dropdown>
    </div>
</div>