<div class="side-bar side-wrapper" id="sidebar">
    <aside>
        <div class="business-logo">
            <img src="../../../../../../assets/logo/bl.png" alt="Bonitas Logo">
        </div>
        <nav class="nav_menu">
            <ul class="nav_links">
                <li *ngFor="let m of menu$ | async; let i = index" class="bnk">
                    <a [routerLink]="!m.hasSubMenu ? m.link : null"  (click)="toggleMenu(i)">
                        <i [class]="m.icon"></i>
                        <span>{{m.name}}</span>
                        <i *ngIf="m.hasSubMenu" class="pi pi-angle-right" [ngClass]="m.isOpen ? 'tilt': ''"></i>
                    </a>
                    <ul *ngIf="m.hasSubMenu" class="side-dropdown" [ngClass]="m.isOpen ? 'open': 'close'">
                        <li *ngFor="let sub of m.subMenu">
                            <a [routerLink]="sub.link"><span>{{sub.name}}</span></a>
                        </li>
                    </ul>
                </li>
    
            </ul>
            <ul class="others" >
                <li>
                    <a (click)="logout()">
                        <i class="pi pi-sign-out"></i>
                        <span>Logout</span>
                    </a>
                </li>
            </ul>
        </nav>
    </aside>
</div>

<!-- content_copy
ng generate module customers --route customers --module app.module -->
<!-- https://hse-admin.herokuapp.com/ -->
<!-- https://templates.envytheme.com/conzio/default/index.html -->