.side-bar{
    width: var(--drawer);
    height: 100%; 
    position: fixed;
    overflow-y: auto;
    overflow-x: hidden;
    top: 0;
    left: 0;
    background-color: hsla(210, 44%, 22%, 1);
    z-index: 99;
    transition: .3s width ease-in;
    padding: 2em 1.2em;
    color: white;

    aside{
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .business-logo{
        img{
            width: 140px;
        }
    }

    .nav_menu{
        height: inherit;
        width: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 2em;

        li + li{
            margin-top: 1em;
        }
        li{
            a{
                display: flex;
                align-items: center;
                // justify-content: center;

                span + span {
                    margin-left: .6em;
                }
            }

        }

        .side-dropdown{
            padding-left: 1.5em;
            a {
                font-size: .8rem;
            }
        }
    }
}

