.step__wrapper{
    margin: 1em 0;
}

.customstepper .ui-steps .ui-steps-item.ui-state-disabled {
    background: red;
}

.customstepper .ui-steps .ui-steps-item.ui-state-disabled .ui-menuitem-link {
    color: green;
}