<app-nav-bar pageTitle="All Staffs"></app-nav-bar>

<div class="mm">
    <div *ngIf="isLoading$ | async">
        <app-loading-indicator></app-loading-indicator>
    </div>
    <div *ngIf="!(isLoading$ | async)">
        <div class="card-bg">
            <div class="person flex">
                <div class="staff__initial">
                    
                    {{((firstName$ | async )?? '')[0]+((lastName$ | async )?? '')[0] | uppercase}}
                </div>
                <p>USER INFORMATION</p>
            </div>
            <p-table [value]="(userBasic$ | async) ?? []"  [tableStyle]="{'min-width': '50rem'}">
            
                <ng-template pTemplate="body" let-user>
                    <tr>
                        <td><span>{{user.firstKey ?? 'Null'}}</span></td>
                        <td>{{user.secondKey ?? 'Null'}}</td>
                        <td><span>{{user.thirdKey ?? 'Null'}}</span></td>
                        <td>{{user.fourthKey ?? 'Null'}}</td>
                    </tr>
                    
                </ng-template>
            </p-table>

        </div>
        <div class="card-bg">
            <p-table [value]="(medicalBasic$ | async) ?? []"  [tableStyle]="{'min-width': '50rem'}">
                <ng-template pTemplate="body" let-user>
                    <tr>
                        <td><span>{{user.firstKey ?? 'Null'}}</span></td>
                        <td>{{user.secondKey ?? 'Null'}}</td>
                        <td><span>{{user.thirdKey ?? 'Null'}}</span></td>
                        <td>{{user.fourthKey ?? 'Null'}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <div class="card-bg">
            <p-table [value]="(keyMedical$ | async) ?? []"  [tableStyle]="{'min-width': '50rem'}">
                <ng-template pTemplate="body" let-user>
                    <tr>
                        <td><span>{{user.firstKey ?? 'Null'}}</span></td>
                        <td>{{user.secondKey ?? 'Null'}}</td>
                        <td><span>{{user.thirdKey ?? 'Null'}}</span></td>
                        <td>{{user.fourthKey ?? 'Null'}}</td>
                        <td><span>{{user.fifthKey}}</span></td>
                        <td>{{user.sixthKey ?? 'Null'}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <div class="card-bg">
            <p-table [value]="(personalData$ | async) ?? []"  [tableStyle]="{'min-width': '50rem'}">
                <ng-template pTemplate="body" let-user>
                    <tr>
                        <td><span>{{user.firstKey ?? 'Null'}}</span></td>
                        <td>{{user.secondKey ?? 'Null'}}</td>
                        <td><span></span></td>
                        <td> </td>
                       
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div> 
</div>